# Look at the top expressed genes in Multi-mapped regions vs single mapped regions

Extracted reads that are map to multiple locations vs single location

In [154]:
import pandas as pd

In [155]:
treatment="Lela_20uM_MadrasinReadsTest_August2018/Untreated-Plus_S8"

In [156]:
# Let's read in count data for single mapped reads
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts.txt") as f:
    lines = f.readlines()
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts_DropHeader.txt",'w') as fw:
    fw.writelines(lines[1:])
singleMap = pd.read_csv("../tmp/"+treatment+"_Transcriptome_featureCounts_SingleMappedReads_JustCounts_DropHeader.txt",header=0,sep="\t")
print singleMap.shape
singleMap.columns = ["GeneName","Length","Counts"]
singleMap.head()

(38310, 3)

      GeneName  Length  Counts
0      DDX11L1    1652       0
1       WASH7P    1769       0
2    MIR6859-1      68       0
3  MIR1302-2HG     538       0
4    MIR1302-2     138       0

In [157]:
# Sort the single mapped reads
singleMap_sorted = singleMap.sort_values(by=["Counts"],ascending=False)
singleMap_sorted.head()

       GeneName  Length  Counts
37010      RMRP     268    5210
6449      NEAT1   22743    2234
689    SNORA73B     205    1226
9646       LCP1    3889     814
31261      IRF4    5461     727

In [158]:
# Get the top 50 genes with most counts
singleMap_top10 = list(singleMap_sorted.iloc[range(10),0].values)
for i in singleMap_top10:
    print(i)

RMRP
NEAT1
SNORA73B
LCP1
IRF4
CD74
EEF2
SNORD17
RNF213
SON

In [159]:
# Let's read in count data for multi mapped reads
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts.txt") as f:
    lines = f.readlines()
with open("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts_DropHeader.txt",'w') as fw:
    fw.writelines(lines[1:])
multiMap = pd.read_csv("../tmp/"+treatment+"_Transcriptome_featureCounts_MultiMappedReads_JustCounts_DropHeader.txt",header=0,sep="\t")
print multiMap.shape
multiMap.columns = ["GeneName","Length","Counts"]
multiMap.head()

(38310, 3)

      GeneName  Length  Counts
0      DDX11L1    1652       1
1       WASH7P    1769      12
2    MIR6859-1      68       0
3  MIR1302-2HG     538       0
4    MIR1302-2     138       0

In [160]:
# Sort the multi mapped reads
multiMap_sorted = multiMap.sort_values(by=["Counts"],ascending=False)
multiMap_sorted.head()

      GeneName  Length  Counts
32284    RN7SK     332   11354
10639   RN7SL3     299    9566
35939  SLCO5A1   11318    6134
37010     RMRP     268    5895
33393     ACTB    1922    3383

In [161]:
# Get the top 10 genes with most counts
multiMap_top10 = list(multiMap_sorted.iloc[range(10),0].values)
for i in multiMap_top10:
    print(i)

RN7SK
RN7SL3
SLCO5A1
RMRP
ACTB
SNORA73B
RNA45SN2
LOC107987206
RNA45SN3
RNA45SN1

# Get http://geneontology.org/ontology/go-basic.obo# Get ht 
from goatools.base import download_go_basic_obo
obo_fname = download_go_basic_obo()

# Get ftp://ftp.ncbi.nlm.nih.gov/gene/DATA/gene2go.gz
from goatools.base import download_ncbi_associations
gene2go = download_ncbi_associations()

from goatools.associations import read_ncbi_gene2go

go2geneids_human = read_ncbi_gene2go("gene2go", taxids=[9606], go2geneids=True)
print("{N} GO terms associated with human NCBI Entrez GeneIDs".format(N=len(go2geneids_human)))

type(go2geneids_human)

GeneID2nt.get(100507650, None)

from goatools.test_data.genes_NCBI_9606_ProteinCoding import GeneID2nt

type(GeneID2nt)

for value in GeneID2nt.values():
    if value.Symbol in singleMap_top50:
        print(value.Symbol+"\t"+value.description)

for value in GeneID2nt.values():
    if value.Symbol in multiMap_top50:
        print(value.Symbol+"\t"+value.description)